.landingbar {
    width: 100%;
   width: 100vw;
   height: 300px;
    position: fixed;
    top: 30%;
    background: #000000;
    padding: 50px;
    margin: 0 auto;
    
  }

  #logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  

  body {
    margin: 0;
 }